[Unit]
Description=Shelfbot Printer Service
After=network.target

[Service]
Type=simple
User=sb
WorkingDirectory=/home/sb/printer
ExecStart=/usr/bin/node index.js
Restart=on-failure
RestartSec=5
Environment=PORT=3000

[Install]
WantedBy=multi-user.target
